Repository alexanderkyte/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @bauligg, @thaystg, @jonpryor, @rolf, @alexanderkyte, @brzvlad, @lateralusX, @DavidKarlas, @directhex, @rolfbjarne, @kjpou1, @lewing

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @marek-safar @akoeplinger
/data/gdb @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz

/llvm @vargaz

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @marek-safar
/mcs/class/Mono.Btls.Interface @bauligg @marek-safar
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @alexrp
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @marek-safar
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig  @marek-safar
/mcs/class/System/Mono.Net.Security @baulig  @marek-safar
/mcs/class/System/Mono.Security.Interface @baulig  @marek-safar
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig  @marek-safar
/mcs/class/System.Data* @egorbo  @marek-safar

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @alexanderkyte @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz

/mono/benchmark @alexanderkyte

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek
/mono/metadata/*profiler* @alexrp
/mono/metadata/handle* @lambdageek
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz
/mono/metadata/thread* @lateralusX
/mono/metadata/w32* @lateralusX
/mono/metadata/*-win* @lateralusX

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm
/mono/mini/*exceptions* @lewurm
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas

/mono/native @baulig @marek-safar

/mono/profiler @alexrp

/mono/sgen @BrzVlad

/mono/utils @vargaz @lewurm
/mono/utils/atomic* @lewurm
/mono/utils/mono-hwcap* @lewurm
/mono/utils/mono-mem* @lewurm
/mono/utils/mono-threads* @vargaz
/mono/utils/*-win* @lateralusX

/msvc @lateralusX
/msvc/*profiler* @alexrp
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lewurm
/samples/profiler @alexrp
/samples/size @alexrp

/scripts @akoeplinger
/scripts/ci @akoeplinger @alexischr

/sdks @marek-safar @vargaz
/sdks/builds/android* @jonpryor
/sdks/builds/mxe* @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @jonpryor

/support @vargaz

/tools @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/monograph @vargaz @vargaz
/tools/nuget-hash-extractor @marek-safar @radical
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz

[llvm] Mark GOT loads for AOTCONSTs as nonnull for codegen
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Preserve nonnull through bitcasts
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Add function param nonnull attr setter
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Propagate nonnull from def to usage
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[runtime] Mark newly-allocated objects nonnull
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Propagate nonnull from call sites to function definitions
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

save
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

save
  mono/mini/aot-compiler.c
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

fixup static linking
  mcs/class/System.Security/testing_aot_full_System.Security_test.dll.exclude.sources
Owners: @marek-safar, @akoeplinger

save opt-out
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

hardcode android disable
  sdks/Make.config
Owners: @marek-safar, @vargaz

save
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/mini-llvm.c
  sdks/builds/wasm.mk
Owners: @vargaz, @lewurm, @kjpou1, @lewing

save
  mono/mini/aot-compiler.c
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Propagate nonnull from call sites to function definition
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Add tables needed for nonnull propagation
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[runtime] Mark newly-allocated objects nonnull
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Propagate nonnull from def to usage
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Add getter for operands to LLVM call inst
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
Owners: @vargaz, @lewurm

[llvm] Add function param nonnull attr setter
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
Owners: @vargaz, @lewurm

[llvm] Preserve nonnull through bitcasts
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[aot] Add checker for linker-provided specialization attribute
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
Owners: @vargaz, @lewurm

[llvm] Mark GOT loads for AOTCONSTs as nonnull for codegen
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Look up calls using value directly from llvm
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Add comment about nonnull prop for vararg
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Change tracking of directly-called lmethods
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Query non-nullability directly from LLVM
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Fixup usage/style with mono_llvm_calls_using
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Accomodate invoke instructions in nonnull logic
  mono/mini/mini-llvm-cpp.cpp
Owners: @vargaz, @lewurm

[llvm] Add code specialization support to wasm
  sdks/wasm/packager.cs
Owners: @vargaz, @kjpou1, @kg, @lewing

[llvm] Set nonnull flag on LDSTR for llvmonly
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[runtime] Extract all nonnull logic out
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Optimize null checks for nonnull
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

rename
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Fix specializable filter in nonnull propagation
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[external] Bump linker to code_specialization change
  mcs/tools/linker/monolinker.exe.sources
Owners: @marek-safar, @akoeplinger

[llvm] Make JIT specialization opt-in fixup 783d2f749d9
  mono/mini/aot-compiler.c
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

working with wasm
  mono/mini/aot-compiler.c
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

save
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/aot-runtime.c
  mono/mini/driver.c
  mono/mini/mini-llvm.c
  mono/mini/mini-llvm.h
  mono/mini/mini.c
Owners: @vargaz, @lewurm

probing working, too many disabled
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/aot-runtime.c
  mono/mini/driver.c
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

working with logging
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm
