Repository alexanderkyte/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @bauligg, @thaystg, @jonpryor, @rolf, @alexanderkyte, @brzvlad, @lateralusX, @DavidKarlas, @directhex, @rolfbjarne, @kjpou1, @lewing

Add EndInvoke to blacklist
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

cleanup printing
  mono/mini/aot-compiler.c
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[interp] Add more netcore intrinsics. (#13849)
  mono/mini/interp/interp.c
  mono/mini/interp/mintops.def
  mono/mini/interp/transform.c
  mono/mini/method-to-ir.c
Owners: @lewurm, @BrzVlad, @vargaz

[interp] Fix GetFunctionPointer (#13708)
  mono/mini/interp/interp.c
  mono/mini/interp/mintops.def
  mono/mini/interp/transform.c
Owners: @lewurm, @BrzVlad

[llvm] Give LLVM noalias info about alloc functions (#13801)
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

Add MONO_PATCH_INFO_TRAMPOLINE_FUNC_ADDR and MONO_PATCH_INFO_SPECIFIC_TRAMPOLINE_LAZY_FETCH_ADDR. (#13794)
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/aot-runtime.h
  mono/mini/method-to-ir.c
  mono/mini/mini-ppc.c
  mono/mini/mini-runtime.c
  mono/mini/mini-runtime.h
  mono/mini/mini-s390x.c
  mono/mini/mini-x86.c
  mono/mini/patch-info.h
  mono/mini/tramp-amd64.c
  mono/mini/tramp-arm.c
  mono/mini/tramp-arm64.c
  mono/mini/tramp-mips.c
  mono/mini/tramp-ppc.c
  mono/mini/tramp-x86.c
Owners: @vargaz, @lewurm

Fix .vscode/c_cpp_properties.json
  .vscode/c_cpp_properties.json
Owners: @marek-safar

[netcore] System.Runtime.InteropServices test fixes. (#13807)
  mcs/class/System.Private.CoreLib/System.Runtime.InteropServices/InteropExtensions.cs
  mcs/class/System.Private.CoreLib/System.Runtime.InteropServices/Marshal.cs
  mono/metadata/class-inlines.h
  mono/metadata/cominterop.c
  mono/metadata/gc.c
  mono/metadata/icall-def.h
  mono/metadata/marshal.c
  mono/metadata/object-internals.h
  netcore/excludes-System.Runtime.InteropServices.Tests.rsp
Owners: @marek-safar, @akoeplinger, @vargaz, @lambdageek, @egorbo

Disable llvmjit in this ci lane so we can turn the lane back on
  scripts/ci/run-test-make-install.sh
Owners: @akoeplinger, @alexischr

[metadata] Don't free_aggregate_modifiers in mono_metadata_free_type (#13785)
  mono/metadata/metadata.c
Owners: @vargaz, @lambdageek

[llvm] Add initial support for direct external calls
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/aot-runtime.c
  mono/mini/driver.c
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
  mono/mini/mini-llvm.h
  mono/mini/mini.c
  sdks/builds/wasm.mk
Owners: @vargaz, @lewurm, @kjpou1, @lewing

[llvm] Confirm callee can be emitted for direct external calls
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/aot-runtime.c
  mono/mini/driver.c
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Collect direct call statistics
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Add EndInvoke to direct external call blacklist
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Confirm callee can be emitted for direct external calls
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Collect direct call statistics
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Add initial support for direct external calls
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/driver.c
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
  mono/mini/mini-llvm.h
  mono/mini/mini.c
Owners: @vargaz, @lewurm

[llvm] Don't print during direct call analysis of callee
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Print direct call statistics
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

fixup
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

fixup
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Reform direct-call printing
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/mini-llvm.c
Owners: @vargaz, @lewurm

[llvm] Fix stats tracking for direct calls
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Cache callee failure computation in file
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Confirm callee can be emitted for direct external calls
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Add initial support for direct external calls
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/driver.c
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
  mono/mini/mini-llvm.h
  mono/mini/mini.c
Owners: @vargaz, @lewurm

[llvm] Collect direct call statistics
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Cache callee failure computation in file
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Collect direct call statistics
  mono/mini/aot-compiler.c
  mono/mini/mini-llvm.c
  mono/mini/mini-llvm.h
  mono/mini/mini.c
Owners: @vargaz, @lewurm

[llvm] Add initial support for direct external calls
  mono/mini/aot-compiler.c
  mono/mini/aot-compiler.h
  mono/mini/driver.c
  mono/mini/mini-llvm-cpp.cpp
  mono/mini/mini-llvm-cpp.h
  mono/mini/mini-llvm.c
  mono/mini/mini-llvm.h
  mono/mini/mini.c
Owners: @vargaz, @lewurm

[llvm] Confirm callee can be emitted for direct external calls
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Fix types/C++ casts on mono_compile_assembly
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Fix handling of unopenable caches
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Disable direct cross-amodule dynamic calls with gcc
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Fix handling of direct-calls-disabled config
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Cache callee failure computation in file
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

[llvm] Persist direct-call log during normal compiles
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

force add disables
  sdks/Make.config
Owners: @marek-safar, @vargaz

WIP
  mono/mini/aot-compiler.c
  mono/mini/mini-llvm.c
  mono/mini/mini.c
  sdks/builds/wasm.mk
  sdks/wasm/packager.cs
Owners: @vargaz, @lewurm, @kjpou1, @lewing, @kg

fix top-level
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @marek-safar @akoeplinger
/data/gdb @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz

/llvm @vargaz

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @marek-safar
/mcs/class/Mono.Btls.Interface @bauligg @marek-safar
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @alexrp
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @marek-safar
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig  @marek-safar
/mcs/class/System/Mono.Net.Security @baulig  @marek-safar
/mcs/class/System/Mono.Security.Interface @baulig  @marek-safar
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig  @marek-safar
/mcs/class/System.Data* @egorbo  @marek-safar

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @alexanderkyte @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz

/mono/benchmark @alexanderkyte

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek
/mono/metadata/*profiler* @alexrp
/mono/metadata/handle* @lambdageek
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz
/mono/metadata/thread* @lateralusX
/mono/metadata/w32* @lateralusX
/mono/metadata/*-win* @lateralusX

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm
/mono/mini/*exceptions* @lewurm
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas

/mono/native @baulig @marek-safar

/mono/profiler @alexrp

/mono/sgen @BrzVlad

/mono/utils @vargaz @lewurm
/mono/utils/atomic* @lewurm
/mono/utils/mono-hwcap* @lewurm
/mono/utils/mono-mem* @lewurm
/mono/utils/mono-threads* @vargaz
/mono/utils/*-win* @lateralusX

/msvc @lateralusX
/msvc/*profiler* @alexrp
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lewurm
/samples/profiler @alexrp
/samples/size @alexrp

/scripts @akoeplinger
/scripts/ci @akoeplinger @alexischr

/sdks @marek-safar @vargaz
/sdks/builds/android* @jonpryor
/sdks/builds/mxe* @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @jonpryor

/support @vargaz

/tools @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/monograph @vargaz @vargaz
/tools/nuget-hash-extractor @marek-safar @radical
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz
